{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        
        <title>Manager Login</title>
        {% include "ManagerNavBar.html" %}

        <style>
            
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">

                <!-- Manager has the ability to schedule a worker to work on a specified day -->
                <div class="col-4">
                    <h3>Create Schedule</h3>
                    <p></p>

                    <form action='insertScheduleAction'>
                        <label>Enter Username of Employee</label><br>
                        <input type="text" placeholder="Enter Username" name="username" required><br><br>

                        <label>Enter Date</label><br>
                        <input type="text" placeholder="MM-DD-YYYY" name="date" required><br><br>

                        <label>Enter Day of the Week</label><br>
                        <input type="text" placeholder="Enter Day of the Week" name="day" required><br><br>

                        <label>Enter Month</label><br>
                        <input type="number" placeholder="Month ex: (jan = 1)" name="month" required><br><br>

                        <label>Enter Time</label><br>
                        <input type="text" placeholder="hh:mm - hh:mm" name="time" required><br><br>

                        <label>Enter Schedule ID</label><br>
                        <input type="number" placeholder="Enter ID " name="id" required><br><br>


                        <button type="submit">submit</button>
                    </form>
                </div>

                <!-- Manager selects date and profile username to delete schedule from -->
                <div class="col-4">
                    <h3>Delete Schedule</h3>
                    <p>Please Enter an Employee Username and Date that will be deleted from that Employees Schedule.</p>
                    <form action='deleteScheduleAction'>
                        <label>Input Employee Username:</label>
                        <br>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <br><br>

                        <label>Input Date:</label>
                        <br>
                        <input type="text" placeholder="MM-DD-YYYY" name="date" required>
                        <br><br>
                        <button type="submit">submit</button>
                    </form>
                </div>

                <!-- Manager selects date and username to update the time -->
                <div class="col-4">
                    <h3>Update Schedule</h3>
                    <p>Please Enter an Employee Username, Date, and Time that will be Updated..</p>
                    <form action='updateScheduleAction'>
                        <label>Input Employee Username:</label>
                        <br>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <br><br>

                        <label>Input Date:</label>
                        <br>
                        <input type="text" placeholder="MM-DD-YYYY" name="date" required>

                        <br><br>

                        <label>Enter Work Time</label>  
                        <br>
                        <input type="text" placeholder="hh:mm - hh:mm" name="time" required>
                        <br><br>
                        <button type="submit">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>