/*
 * Author: Cory Willmon
 * Date: 2/28/2021
 * Purpose: All styling rules for the StandardEmployeeHomepage.html file
*/


/*
 * Styling rules for the body of StandardEmployeeHomepage.html
*/
.Background{
    background-color: white;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

#Calendar{
    height: 450px;
}

#HomeIcon{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.Center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html, body{
    height: 100%;
    position: relative;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.MainContainer{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}